@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

* {background-color: blueviolet;
}
#header {
    background-color: burlywood;
    font-family: Sevillana, cursive;
    font-weight: bold;
}
h1 {
    font-size: 40px;
}
button {
    background-color: aqua;
    font-weight: bold;
    margin: 10px;
}
h2, h3 {
    text-decoration: underline solid aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,;
    font-weight: bold;
}
#main {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
a {
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,;
    font-weight: bold;
}
#footer {
    font-size: 10px;
}

.socials {
    height: 50px;
    width: 50px;
}