* {
    max-height: 100vh;
    max-width: 100vw;
    background-color: blueviolet;
}

#header {
    background-color: burlywood ;
}

#name {
    background-color: burlywood;
}

h1, h2 {
    color: black;
    text-decoration: solid black 2px;
}
